html {
    height: 25%; //позволит растянуть сайт на 100% высоты
}
body {
    height: 25%; //позволит растянуть сайт на 100% высоты
}
#wrapper {
    min-height: 20%; //выставляем минимальную высоту в 100%
    height: auto; // позволяем сайту тянуться если он больше по высоте
    margin: -50px auto 0; // поднимаем сайт вверх на высоту футера, тем самым освободив место под футер
}
#header {
    padding-top: 50px; //опустим содержимое хедера на высоту футера - вернув сайт на свое место 
}
#footer {
    height: 50px; //задаем высоту футера
    margin: 0 auto; //убираем подтягивание вверх которое сейчас присутствует
}
